*{padding:0;margin:0;outline:0;}
html, body{height: 100%;background-color: #580204;}
.wrapper{display: flex;flex-direction: column;height: 100%;width:100%;}
.header{width:100%;height:50px;}
.content {flex: 1 0 auto;height:100%;width:75%;margin:0 auto;box-shadow: 0px 0px 6px 0px #000000;background-color: #fff;overflow: hidden;}
.footer {flex: 0 0 auto;}
.leftside{width:55px;height:100%;display: flex;flex-direction:column;color:#2f2f2f;font-size:10px;font-family:arial;box-sizing: border-box;}
.menu{width:50px;height:inherit;}
.list_menu{list-style: none;}
.list_menu a{text-decoration: none;color:#2f2f2f;}
input[name="panel-search"]{background-image: url(images/search.png);outline:0;cursor:pointer;height: 36px;border: 0;background-color: #e1e1e1;border-top-right-radius: 6px;border-bottom-right-radius: 6px;background-repeat: no-repeat;background-position: center;width: 25px;}
input[name="user_search"]{width:200px;font-family:Pompadur;float: left;padding: 6px 0 6px 5px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;border: 1px solid #767676;outline: 0;height: 22px;background: #1B1B1B;color: #fff;}
.header-section{display: inline-block;float:left;margin-right:45px;}
.upload_avatar{position:relative; display: block;}
.drag_block{display:none;position: absolute;left:0;width:300px;height:300px;background-color:#E1E1E1;}
.triangle{top:-10px;left:14px;z-index:9;position:absolute;width:0;height:0;border-bottom:10px solid #E1E1E1;border-left:5px solid transparent;border-right:5px solid transparent;}
.drag_area{z-index:0;height:200px;width:200px;border:2px dashed #323232;margin:50px;auto;}